<h1>Make a new tweet!</h1>

<%= form_for @tweet do |f|%>

  <div>
    <%= f.label :handle%>
    <%= f.text_field :handle%>
  </div>

  <div>
    <%= f.label :content%>
    <%= f.text_field :content%>
  </div>

  <%= f.submit "Tweet! Tweet!" %>

<% end %>
<a href="/pages/home">Home</a>
